.coverage
AUTHORS
ChangeLog
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
.tox
.testrepository
violations.pyflakes.txt
cover/
build/
docs/_build
rkrizzle.egg-info/
*.pyc
*.swp
*.egg
env/

.workon

t.py

t2.py
dist
